<!-- Scan modal -->
<div  id="interface-config-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
<form id="interface-config-form" class="interface-config-form form-horizontal form-label-left input_mask" method="post">
        {% csrf_token %}
        <div class="modal-dialog modal-sl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Interface configuration</h4>
                </div>
                <div class="modal-body">

                    <h2 role="separator" class="divider">Preset satellite</h2>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-3 col-xs-12">Satellite</label>
                        <div class="col-md-8 col-sm-9 col-xs-12">

                            <select class="select2_single form-control interface-select" id="satellitesselect" name="satellitesselect" tabindex="-1" required="required">
                                <option></option>
                                {% for satitem in satellites %}
                                 <option value="{{satitem}}">{{satitem}}</option>
                                {% endfor%}
                            </select>
                        </div>
                    </div>

                    <h2 role="separator" class="divider">LNB Configuration</h2>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-3 col-xs-12">LNB type</label>
                        <div class="col-md-8 col-sm-9 col-xs-12">
                            <select class="select2_single form-control" tabindex="-1" id="lnbtypeselect" name="lnbtypeselect">
                                <option selected value="universal" default>Universal</option>
                                <option value="standard">Standard</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-3 col-xs-12">lnb_lof_standard (MHz)</label>
                        <div class="col-md-8 col-sm-9 col-xs-12">
                            <input type="text" class="form-control lnb_lof_standard" placeholder="Default: 10750" id="lnblofstandardinput" name="lnblofstandardinput">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-3 col-xs-12">lnb_lof (MHz)</label>
                        <div class="col-md-8 col-sm-9 col-xs-12">
                            <input type="text" class="form-control lnb_disable" placeholder="Default: 11700" id="lnblofinput" name="lnblofinput">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-3 col-xs-12">lnb_lof_low (MHz)</label>
                        <div class="col-md-8 col-sm-9 col-xs-12">
                            <input type="text" class="form-control lnb_disable" placeholder="Default: 9750" id="lnbloflowinput" name="lnbloflowinput">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-3 col-xs-12">lnb_lof_high (MHz)</label>
                        <div class="col-md-8 col-sm-9 col-xs-12">
                            <input type="text" class="form-control lnb_disable" placeholder="Default: 10600" id="lnblofhighinput" name="lnblofhighinput">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info save-config-button">Save</button>
                </div>

            </div>
        </div>
    </form>
</div><!-- /modals -->