{% extends "app/base_site.html" %}

{% block title %} Fixed Sidebar {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<!-- jQuery custom content scroller -->
<link href="/static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
<link href="/static/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
<link href="/static/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
<link href="/static/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
{% endblock stylesheets %}

{% block sidebar_class %}nav-md menu_fixed{% endblock sidebar_class %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
forloop.counter
        <div class="row top_tiles">
            <h1>Interface</h1>
            <h4>Manage DVB interfaces</h4>
            {% for dvbint in dvb_int%}
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <input type="hidden" name="interface" value="1">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-youtube-play"></i></div>
                    <span class="label label-success">Streaming</span>

                    <div class="count">{{ dvbint }}</div>
                    <h3>Apstar6_C-134.0E</h3>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="ln_solid"></div>
                        <button type="button" class="btn btn-info config-button" data-target="#config-modal" data-toggle="modal" value="{{forloop.counter}}"><i class="fa fa-folder"></i> Config</button>

                        <button type="button" class="btn btn-primary" data-target="#scan-modal" data-toggle="modal"><i class="fa fa-caret-square-o-right"></i> Scan</button>

                        <button type="button" class="btn btn-dark" data-target="#stream-modal" data-toggle="modal"><i class="fa fa-video-camera"></i> Stream</button>
                        <button type="button" class="btn btn-danger" data-target="#stop-modal" data-toggle="modal"><i class="fa fa-times-circle"></i> Stop</button>
                    </div>
                </div>

            </div>
            {% endfor %}


            <!-- Scan modal -->
            {% include 'app/scan_modal.html' %}

            <!-- Config modal -->
            {% include 'app/config_modal.html' %}

            <!-- Stream modal -->
            {% include 'app/stream_modal.html' %}

            <!-- Stop modal -->
            {% include 'app/stop_modal.html' %}
        </div>

    </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ block.super }}
<!-- jQuery custom content scroller -->
<script src="/static/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- PNotify -->
<script src="/static/vendors/pnotify/dist/pnotify.js"></script>
<script src="/static/vendors/pnotify/dist/pnotify.buttons.js"></script>
<script src="/static/vendors/pnotify/dist/pnotify.nonblock.js"></script>
<script>
$(document).ready(function(){
    /***************************************************************************************/
    $('.start-scan-button').prop('disabled', true);
    $('.disable-default-ffj').prop('required', true);

    $('.interface-scan-select').on('change', function(){
        var value = $(this).val();
        console.log(value);
        if (value == "default"){
            $('.disable-default-ffj').prop('disabled', false);
            $('.disable-default-ffj').prop('required', true);
            $('.custom-configuration').fadeIn();
        }else{
            $('.custom-configuration').fadeOut();
            $('.disable-default-ffj').prop('disabled', true);
            $('.start-scan-button').prop('disabled', false);
        }
    });

    var $myscanform = $(".scan-form")
    $myscanform.submit(function(evt){
        evt.preventDefault()
        var $formdata = $(this).serialize()
        var $thisURL = $myscanform.attr("data-url") || window.location.href
        console.log($formdata)
        console.log($thisURL)

        var text = 'Start Scanning on ';
        text += $( ".select2_single option:selected" ).val();
        console.log(text);
        new PNotify({
            title: 'Start Scanning on '+$( ".select2_single option:selected" ).val(),
            text: text,
            type: 'success',
            styling: 'bootstrap3'
        });

        $('.start-scan-button').text('Started')
        $('.start-scan-button').prop('disabled', true)
        $('.modal').on('hidden', function(){
            $(this).data('modal', null);
        });
    });

    $('.start-scan-button-first').on('click', function(){
        $('.start-scan-button').text('Start')
    });

    /**************************************   config-form   **************************************/
    var $myscanform = $(".config-form")
    $myscanform.submit(function(evt){
        evt.preventDefault()
        var $formdata = $(this).serialize()
        var $thisURL = $myscanform.attr("data-url") || window.location.href
        $('.start-scan-button').text('Started')
        $('.start-scan-button').prop('disabled', true)
        $('.modal').on('hidden', function(){
            $(this).data('modal', null);
        });
    });

    $('.start-scan-button-first').on('click', function(){
        $('.start-scan-button').text('Start')
    });

    /**********************************     LNB    *******************************************/
    $('.lnb_disable').prop('disabled', true);
    $('#lnbtypeselect').on('change', function(){
        var value = $(this).val();
        console.log(value);
        if (value == "universal"){
            $('.lnb_disable').prop('disabled', true);
            $('.lnb_lof_standard').prop('disabled', false);
        }else{
            $('.lnb_disable').prop('disabled', false);
            $('.lnb_lof_standard').prop('disabled', true);
        }
    });

});


    /**********************************     modal    *******************************************/
    $( '.modal' )
       .on('hide.bs.modal', function() {
           $('.interface-scan-select').prop('selectedIndex',0);
           //$(this).data('modal', null);
           /* remove hidden field */
           $('#foo').remove();
            //console.log("xxxxxxxxxxxxx");
       })
       .on('hidden.bs.modal', function(){
           $('#interface-config-form').trigger("reset");
           $('.custom-configuration').show();
           //console.log('hidden');
       })
       .on('show.bs.modal', function() {
           //console.log('show');
           $('.disable-default-ffj').prop('disabled', false);
           $('.start-scan-button').prop('disabled', true);
           $('.save-config-button').prop('disabled', false);
           $('.save-config-button').text('Save');

       })
       .on('shown.bs.modal', function(){

          //console.log('shown' );
       });

/******************* AJAX modal config ********************/
$(document).on('submit', '#interface-config-form', function(e){
    e.preventDefault();

    var text = 'Configuration saved ';
    text += $( ".select2_single option:selected" ).val();
    $.ajax({
        type: 'POST',
        url: "{% url 'post_config_ajax' %}",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            interfacenum: $("#foo").val(),
            satellitesselect: $("#satellitesselect").val(),
            satellitesinput: $("#satellitesinput").val(),
            deliverysystemselect: $("#deliverysystemselect").val(),
            frequencyinput: $("#frequencyinput").val(),
            symrateinput: $("#symrateinput").val(),
            polarizationselect: $("#polarizationselect").val(),
            modulationselect: $("#modulationselect").val(),
            fecselect: $("#fecselect").val(),
            rolloffselect: $("#rolloffselect").val(),
            pilotselect: $("#pilotselect").val(),
            lnbtypeselect: $("#lnbtypeselect").val(),
            lnblofstandardinput: $("#lnblofstandardinput").val(),
            lnblofinput: $("#lnblofinput").val(),
            lnbloflowinput: $("#lnbloflowinput").val(),
            lnblofhighinput: $("#lnblofhighinput").val(),
        },
        success: function(){
                $('.save-config-button').prop('disabled', true);
                $('.save-config-button').text('Saved');
                new PNotify({
                    title: 'configuration saved',
                    text: text,
                    type: 'success',
                    styling: 'bootstrap3'
                });
        },
        error: function(jqXHR, status, error){
                new PNotify({
                    title: 'Internal Error',
                    text: "An internal error occured during saving",
                    type: 'error',
                    styling: 'bootstrap3'
                });
        },
    });
});

$('.config-button').click(function (){
    var interface_num = this.value;
    var $intrem = $('<input>').attr({
        type: 'hidden',
        id: 'foo',
        name: 'bar',
        value: interface_num,
    }).appendTo('#interface-config-form');
});



</script>
{% endblock javascripts %}
